<div class="container mb-3 parking-rate-section">
    <div class="row">
        <h2 class="parking-option-heading">PARKING OPTIONS AND RATES!</h2>
    </div>

    <div class="row">
      <div class="col-sm-6"> 
        <div class="card mb-4">
            <div class="card-body">
              <h4 class="card-title">Outdoor Parking</h4>
              <h6 class="card-subtitle mb-2 text-muted">Rate Starting At</h6>
              <p class="card-text card-main-rate">$7.99</p>
              <p class="card-text card-sub-rate">Drive Up Rate $13.99</p>
              <button class="btn btn-danger">Reserve Now</button>
            </div>
          </div>
      </div>
      <div class="col-sm-6"> 
        <div class="card mb-4" >
            <div class="card-body ">
              <h4 class="card-title">Indoor Parking</h4>
              <h6 class="card-subtitle mb-2 text-muted">Rate Starting At</h6>
              <p class="card-text card-main-rate">$9.99</p>
              <p class="card-text card-sub-rate">Drive Up Rate $99.99</p>
              <button class="btn btn-danger">Reserve Now</button>
            </div>
          </div>
      </div>
    </div>
</div>
<div class="container mb-3 parking-rate-section">
    <div class="row">
        <h2 class="parking-option-heading">Get Discount</h2>
    </div>

    <div class="row mb-4">
      <div class="col-sm-6"> 
        <div class="card discount-card-image mb-4">
            <img src="https://park2jetdenver.com/assets/images/coupons/outdoor_coupn.png" loading="lazy" class="card-img-top" alt="Discount card image">
            <div class="card-body">
              <h5 class="card-title">Indoor Parking</h5>
              <p class="card-text">UP TO 30% OFF COUPON PARKING*</p>
              <a href="#" class="btn btn-danger">Go somewhere</a>
            </div>
          </div>
      </div>
      <div class="col-sm-6"> 
        <div class="card discount-card-image mb-4">
            <img src="https://park2jetdenver.com/assets/images/coupons/outdoor_coupn.png"  loading="lazy" class="card-img-top" alt="Discount card image">
            <div class="card-body">
              <h5 class="card-title">Indoor Parking</h5>
              <p class="card-text">UP TO 30% OFF COUPON PARKING*</p>
              <a href="#" class="btn btn-danger">Go somewhere</a>
            </div>
          </div>
      </div>
    </div>
</div>