<div class="hero-section">
  <div class="image-div">
    <picture>
      <source media="(max-width: 768px)" srcset="" />
      <img
        src="https://park2jetdenver.com/assets/images/home-banner/1.webp"
        alt="Park2jet Image in hero section"
      />
    </picture>
    <div class="center">
      <div class="info-on-image">
        <p class="info-text-image">
          Affordable Parking at Denver International Airport (DIA)
        </p>
      </div>
    </div>
    <div class="left-bottom">
      <button class="btn reserve-btn btn-large btn-danger">Reserve Now</button>
    </div>
  </div>
</div>
